head, style, form, script { display: none; } 

body {
    $def.all
    $body.margin
}

DocFragment { page-break-before: always }

p { $def.all } 
*.justindent { text-align: justify; text-indent: 1.3em; margin-top:0em; margin-bottom: 0em }

empty-line { height: 0.2em; } 

hr { 
   height: 2px; 
   background-color: #808080; 
   margin-top: 0.5em; 
   margin-bottom: 0.5em; 
   } 

b,strong,i,em,dfn,var,q,u,del,s,strike,small,big,sub,sup,acronym,tt,sa mp,kbd,code,font { 
   display: inline; 
   } 

b,strong { font-weight: bold; } 
i,em,dfn,var { font-style: italic; } 

u { text-decoration: underline; } 
del,s,strike { text-decoration: line-through; } 
small { font-size: 80%; } 
big { font-size: 130%; } 
sub { vertical-align: sub; font-size: 70% } 
sup { vertical-align: super; font-size: 70% } 
tt, samp, kbd, code, pre { font-family: "Noto Mono", "FreeMono", "Courier New", "Andale Mono", "Droid Sans Mono", "Menlo", "Liberation Mono", "DeJaVu Sans Mono", monospace; }

pre { display: block; 
   white-space: pre; 
   $pre.all
   } 
code, kbd, samp, tt { $pre.font-face; }

nobr { display: inline; hyphenate: none; white-space: nowrap; } 

h1 { font-size: 150% } 
h2 { font-size: 135% } 
h3 { font-size: 125% } 
h4 { font-size: 125% } 
h5 { font-size: 115% } 
h6 { font-size: 105% } 

h1,h2 { 
   display: block; 
   $title.all
   } 
h3,h4,h5,h6 { 
   display: block; 
   $subtitle.all
   } 

ul, ol, dl { 
   display: block; 
   margin-left: 1em; 
   margin-top:0.3em; 
   margin-bottom: 0.3em; 
   } 

li { 
   display: list-item; 
   margin-top: 0.3em; 
   margin-bottom: 0.3em; 
   text-indent: 0em;
   } 


dl { margin-left: 0em; } 
dt { display: block; margin-left: 0em; margin-top:0.3em; font-weight: bold; } 
dd { display: block; text-indent: 1.3em; } 

a { display:inline; $link.all } 

span { display: inline; } 

cite { display: inline; $cite.all } 
div { display: block; } 
blockquote { display: block; 
   margin-left: 1.5em; 
   margin-right: 1.5em; 
   margin-top: 0.5em; 
   margin-bottom: 0.5em; 
   } 

img { 
   margin: 0.5em; 
   text-align: center; 
   text-indent: 0em; 
   border-style: solid; 
   border-width: medium; 
   } 

table { font-size: 100% } 
td, th { text-indent: 0px; padding: 3px } 
th { font-weight: bold; text-align: center; background-color: #808080; } 
table caption { text-indent: 0px; padding: 4px; }
